__pycache__/
*.py[cod]
*.log
.cache/
pytest_cache/
build/
dist/
*.egg-info/
.env
.venv/
venv/
.idea/
.vscode/
htmlcov/
chromedriver
chromedriver.exe
geckodriver
geckodriver.exe
.DS_Store
Thumbs.db
desktop.ini
Sprint_5.iml
modules.xml
vcs.xml
workspace.xml
profiles_settings.xml